.logo {
  margin: 0 24px;
  float: left;
  font-size: 26px;
}

.ant-layout-header {
  color: #fff;
  background-color: #7e09a8;

  .ant-menu {
    color: #fff;
  }
}

.ant-menu {
  background-color: transparent;
}

.ant-page-header {
  min-height: calc(100vh - 160px);
}

.ant-layout-sider {
  background-color: #ad4df6;

  .ant-menu {
    color: #fff;

    .ant-menu-item-active {
      background-color: #fff;
    }
  }
}

.tab-title-group {
  display: flex;
  justify-content: space-between;

  .title {
    display: flex;
  }

  .button-group {
    button {
      margin: 0 5px;
    }
  }
}

.ant-avatar {
  margin: 0 10px;
}

.user-profile {
  display: flex;
  align-items: center;

  .user-detail {
    display: flex;
    flex-direction: column;
  }
}

.ant-tabs-nav-wrap {
  background-color: #fff;
  padding: 0 10px;
}